<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mx-auto">All the Users</h2>
        <table class="table table-striped mx-auto">
            <thead class="thead-dark">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users %}
                    <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email_address}}</td>
                    <td>{{user.age}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <h2 class="mx-auto">All the Users</h2>
        <form method="POST" action="/users/process">
            {% csrf_token %}
            <div class="form-group row">
                <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control w-50" name="first_name">
                </div>
            </div>
            <div class="form-group row">
                <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control w-50" name="last_name">
                </div>
            </div>
            <div class="form-group row">
                <label for="email_address" class="col-sm-2 col-form-label">E-Mail Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control w-50" name="email_address">
                </div>
            </div>
            <div class="form-group row">
                <label for="age" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control w-50" name="age">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>